# Created by https://www.gitignore.io
.idea/
build/
shariff-backend-php.zip
shariff-backend-php.tar.gz

### Composer ###
composer.phar
vendor/

### Codesniffer ###
.phpcs-cache

### Php-Cs-Fxier
.php-cs-fixer.cache

### PHPUnit ###
/.phpunit.result.cache
